:root {
  --indigo-500: #1e1b36;
  --indigo-200: #b595e6;
  --indigo-100: #c5a0fc;
}

html {
  font-size: 125%;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

body {
  background-color: var(--indigo-500);
  margin: 2rem;
}

h1 {
  text-align: center;
  color: white;
  font-weight: 100;
}

h2 {
  text-align: center;
  color: white;
  font-weight: 300;
}

strong {
  font-weight: 800;
  color: var(--indigo-200);
}

b {
  color: var(--indigo-200);
  font-weight: 600;
}
.grid-container ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

li img {
  border: 2px solid var(--indigo-100);
  border-radius: 4px;
}

.spinner {
  animation-name: spinner;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  margin: 2rem auto;
}

@keyframes spinner {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.dribbble-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button,
.button {
  background-color: transparent;
  border: 3px solid var(--indigo-200);
  border-radius: 5px;
  padding: 0.6rem 1rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  color: var(--indigo-200);
  margin: 2rem auto;
  cursor: pointer;
}

button:hover,
.button:hover {
  background-color: var(--indigo-200);
  color: var(--indigo-500);
}

button:active,
.button:active {
  outline: 2px solid var(--indigo-200);
  outline-offset: 4px;
}

li {
  position: relative;
}

li span {
  position: absolute;
  color: white;
  bottom: 0.6rem;
  left: 0.7rem;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.letter:hover span {
  opacity: 1;
}

.dribbble-section {
  margin: 5rem auto;
}
